<script>

var G = {
    expand_all: false,
};

function title_clicked(input_elem) {
}

function sidebar_click(title_anchor) {
    console.log('Sidebar clicked at', title_anchor);

    let check_id = title_anchor + '-check';
    let the_input_check = document.getElementById(check_id);

    the_input_check.checked = true;
}

function toggle_expand_collapse_all() {
    console.log(toggle_expand_collapse_all);

    if (G.expand_all) {
        // do collapse
        
    } else {
        // do expand

    }
    return true;
}
</script>