<style>
* {box-sizing: border-box;}
body {background-color:#fafafa;
font-family:-apple-system,BlinkMacSystemFont,"Open Sans","Segoe UI",Roboto,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}
body, div, h1, h2, h3 {margin:0; padding: 0;}
div { box-sizing: border-box; }
pre, code {font-family: Iosevka, Consolas, 'Courier New', Courier, monospace;}
pre.highlight {background-color:#eee; padding:1em; border-left: solid 5px #999;}
.wrapper {display:flex;}
.nav {background-color:#444; padding: 1em;}
.sidebar {position:sticky; top:0; background-color: #eee; border-right: solid 1px #ccc; padding: 1em; min-width: 270px; height: calc(100vh);}
.sidebar ul {line-height: 1.7em;}
.sidebar a {text-decoration: none; color:#459;}
.sidebar a:hover {text-decoration: underline;}
#main {padding: 1em 3em; max-width: 980px;}

.site-name {color:#ccc;}
.note-title {margin-top: 1em; margin-bottom: 0.5em;}
.note-content {padding-left: 2em; margin-top:1em; line-height: 1.5em; color:#333;}
.note-footer {margin: 2em 0em;}

.toggle-label {cursor: pointer; font-size: 2em; font-weight:bold;}
.expand-content {max-height: 0; overflow:hidden;}
.toggle:checked + .toggle-label + .expand-content {max-height: 10000px;}

input[type='checkbox'] {
  display: none;
}

.toggle-label::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .toggle-label::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .toggle-label {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
</style>